<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body class="container">
    <section class="home-section">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#upload-file" aria-controls="upload-file" role="tab" data-toggle="tab">Upload File</a></li>
            <li role="presentation"><a href="#check-duplicates" aria-controls="check-duplicates" role="tab" data-toggle="tab">Check Duplicates</a></li>
            <li role="presentation"><a href="#download" aria-controls="download" role="tab" data-toggle="tab">Download</a></li>
            <li role="presentation"><a href="#about-us" aria-controls="about-us" role="tab" data-toggle="tab">About Us</a></li>
        </ul>
        <section class="tab-content">
            <article role="tabpanel" class="tab-pane active" id="upload-file">
                Upload file
            </article>
            <article role="tabpanel" class="tab-pane" id="check-duplicates">
                Check for duplicates
            </article>
            <article role="tabpanel" class="tab-pane" id="download">
                Download
            </article>
            <article role="tabpanel" class="tab-pane" id="about-us">
                About US
            </article>
        </section>
    </section>
</body>
<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

</html>
